﻿<h1>WebApi</h1>
<div id="resultado"></div>
<button id="btn1">Listar Pessoas</button><br />
@Html.TextBox("Busca", null, new {placeholder="Digite o id da pessoa" })
<button id="btn2">Buscar Pessoa</button><br />
<button id="btn3">Post</button>
<button id="btn4">Put</button>
<button id="btn5">Delete</button>
@section scripts  {
    <script>
        var pessoa = { Id: 3, Nome: 'Thales', Email: 'thales@hotmail.com' };
        $('#btn3').click(function () {
            $.ajax({
                url: '/api/pessoa',
                data: pessoa,
                type: 'post',
                success: function () {
                    alert('Sucesso post!!!');
                }
            });
        });
        $('#btn4').click(function () {
            $.ajax({
                url: '/api/pessoa/'+pessoa.Id,
                data: pessoa,
                type: 'put',
                success: function () {
                    alert('Sucesso put!!!');
                }
            });
        });
        $('#btn5').click(function () {
            $.ajax({
                url: '/api/pessoa/' + pessoa.Id,
                type: 'delete',
                success: function () {
                    alert('Sucesso delete!!!');
                }
            });
        });

        $('#btn2').click(function () {
            var id = $('#Busca').val();
            $.get('/api/pessoa/' + id, function (data) {
                $('#resultado').html(data.Nome + '-' + data.Email);
            });
        });
        $('#btn1').click(function () {
            $.get('/api/pessoa', function (data) {
                var ret = '<ul>';
                $.each(data, function (e) {
                    ret += '<li>' + data[e].Nome + '</li>';
                });
                ret += '</ul>';
                $('#resultado').html(ret);
            });
        });
    </script>
}