﻿@model CadastroDeBandas.Models.Banda

@{
    ViewBag.Title = "Details";
}

<h1 style="color:@ViewBag.color">@ViewBag.texto</h1>

<h2>Details</h2>

<fieldset>
    <legend>Banda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnoFormacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnoFormacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estilo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estilo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pais)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pais)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Classificacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Classificacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Twitter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Twitter)
    </div>
</fieldset>
@Html.Action("PartialMusicas",new {id=Model.Id})



<p>
     @Html.ActionLink("Cadastrar nova música", "Create", "Musica", new {id=Model.Id },null)
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Model.Nome
<br />
@Model.Pais
<br />
<marquee>@Model.Twitter</marquee>