﻿@model CadastroDeBandas.Models.Banda

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Banda</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnoFormacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnoFormacao)
            @Html.ValidationMessageFor(model => model.AnoFormacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estilo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estilo)
            @Html.ValidationMessageFor(model => model.Estilo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pais)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pais)
            @Html.ValidationMessageFor(model => model.Pais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Classificacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Classificacao)
            @Html.ValidationMessageFor(model => model.Classificacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Twitter)
            @Html.ValidationMessageFor(model => model.Twitter)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
