﻿@model CadastroDeBandas.Models.Banda

@{
    ViewBag.Title = "ExemploHelpers";
}

<h2>ExemploHelpers</h2>

<h3>Action link / Action</h3>
@Html.ActionLink("Clique aqui", "Index", "Home")
<p>@Html.Action("ActionTeste")</p>

<h3>Display</h3>
@Html.DisplayNameFor(x => x.Pais)<br />
@Html.DisplayFor(x => x.Pais)

<h3>Begin form</h3>
@using (Html.BeginForm("Create", "Banda", FormMethod.Post))
{
    @Html.ValidationSummary(false)

    @Html.LabelFor(x => x.Nome)
    @Html.EditorFor(x => x.Nome)
    @Html.ValidationMessageFor(x => x.Nome)

    <br />
    @Html.LabelFor(x => x.Pais)
    @Html.TextBoxFor(x => x.Pais, new { placeholder = "Digite o país", style = "color:red", @class = "textoblablabla" })
    
    <input type="submit" name="btn" value="Enviar" />
}


