﻿@model IEnumerable<CadastroDeBandas.Models.Banda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoFormacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estilo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFormacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estilo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<label for="bandas">Escolha a banda</label>
<select id="bandas">
    <option value="0">-----------</option>
    @foreach (var item in Model)
    {
        <option id="@item.Id">@item.Nome</option>
    }
</select>

<hr />
<ul>
    @foreach (var item in Model.Where(x=>x.Classificacao>2))
    {
        <li>@item.Nome</li>
    }
</ul>

@{
    var nomes = new string[] { "Paulo", "Thales", "Agnes" };
    <ol>
        @foreach (var item in nomes)
        {
            <li>@item</li>  
        }

    </ol> 
}

<h1>@Model.First().Nome</h1>