﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="resultado"></div>
<hr />
@Ajax.ActionLink("Exibir mensagem", "PartialViewTeste",
new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultado",
    HttpMethod = "GET"
})
<hr />
@Html.TextBox("txt")
<hr />
<ul>
    @foreach (var item in (string[])ViewBag.nomes)
    {
        <li>@item</li> 
    }
</ul>
