﻿@{
    ViewBag.Title = "Index";
}

<h2>Chat</h2>
@Html.TextBox("nome", null, new { placeholder = "Digite seu nome" })
@Html.TextBox("mensagem", null, new { placeholder = "Digite uma mensagem" })
<button id="enviar">Enviar</button>
<hr />
<div style="background: #e1e1e1">
    <ul id="dialogo"></ul>
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var chat = $.connection.chatHub;
        $.connection.hub.start();
        $('#enviar').click(function () {
            chat.server.enviar($('#nome').val(), $('#mensagem').val());
        });
        chat.client.enviarMensagem = function (nome,mensagem) {
            $('#dialogo').append('<li>'+nome+': '+mensagem+'</li>');
        }
    </script>
}