﻿@{
    ViewBag.Title = "Index";
}
<style>
    .textoAmarelo {
        color: yellow;
    }
</style>
<h2>Index</h2>
<div id="resultado"></div>
<hr />
<button id="btn">Clicar aqui</button>
<button id="btn2">Botão2</button>
@Html.TextBox("txt")
<hr />
<h1>Ajax</h1>
@Html.TextBox("id")
<button id="JQueryGet">JQuery Get</button>
<hr />
Nome:@Html.TextBox("nome")<br />
E-mail:@Html.TextBox("email")<br />
<button id="JQueryPost">JQuery Post</button>

<button id="Grid">Gerar grid</button>
<hr />
<h1>jquery ui</h1>
<ul id="menu">
    <li>@Html.ActionLink("Item 1", "abc") </li>
    <li>Item 2 </li>
    <li>
        <ul id="menu1">
            <li>@Html.ActionLink("Item 1", "abc") </li>
            <li>Item 2 </li>
            <li>Item 3 </li>
            <li>Item 4 </li>
        </ul>
    </li>
    <li>Item 4 </li>
</ul>
@Html.TextBox("txtData")
@section head{
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script>
        $('#menu').menu();
        $('#txtData').datepicker();
        $('#btn').button();
        $('#Grid').click(function () {
            $.get('/home/Grid', function (data) {

                var dadosGrid = JSON.parse(data);
                var res = $('#resultado');
                var grid = '<table><tr><td>Nome</td><td>E-mail</td></tr>';
                $.each(dadosGrid, function (e) {
                    grid = grid + '<tr><td>' + dadosGrid[e].Nome + '</td><td>'
                        + dadosGrid[e].Email + '</td></tr>'
                });
                grid = grid + '</table>'
                res.html(grid);
            });
        });
        $('#JQueryGet').click(function () {
            var id = $('#id').val();
            $.get('/home/buscarusuario/' + id, function (data) {
                $('#resultado').html(data);
            });
        });
        $('#JQueryPost').click(function () {
            var usuario = { id: 0, Nome: $('#nome').val(), Email: $('#email').val() };
            $.post('/home/incluirusuario', usuario, function (data) {
                if (data == 'ok')
                    alert('Incluido com sucesso!!!');
                else
                    alert('Erro!!!');
            })
        });
        $('#btn2').click(function () {
            $('#resultado').css('background-color', 'red');
            $('#resultado').toggleClass('textoAmarelo');
            //alert(  $('#resultado').css('background-color'));
        });
        $('#btn').click(function () {
            $('#resultado').html("Hello Js!!");
        });
        //$(document).ready(function () {
        //    alert('Terminou de carregar!!!');
        //});
        //$('button').click(function () {
        //    alert($('#txt').val());
        //    $('#txt').val('')
        //    //alert('cliquei em algum botão')
        //});
        //document.getElementById('btn').addEventListener('click',
        //    function () {
        //        var res = document.getElementById('resultado');
        //        res.innerHTML = "Hello Js!!";
        //});
        //function HelloJs() {
        //    var res = document.getElementById('resultado');
        //    res.innerHTML = "Hello Js!!";
        //}
    </script>
}
