﻿#banner {
    width: 100%;
    height: 120px;
    background: #ffd800;
}

#menu2 {
    width: 20%;
    height: 300px;
    float: left;
    background: #ff0000;
}

#content {
    width: 80%;
    float: right;
}

#footer {
    clear: both;
    width: 100%;
    height: 50px;
    background: #00ffff;
}

p {
    background-color: gray;
}

.textoAzul {
    color: blue;
}

@media only screen and (max-width: 1024px) {
    #menu2 {
        background: #00ffff;
    }
}

@media only screen and (max-width: 700px) {
    #menu2 {
        background: #808080;
    }
}

@media only screen and (max-width: 500px) {
    #menu2 {
        background: #b6ff00;
    }
}

@media only screen and (max-width: 400px) {
    #menu2 {
        background: #d3702b;
    }
}

@media only screen and (max-width: 300px) {
    #footer {
        display: none;
    }
}
