﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Login</legend>
    <label for="usuario"></label>
    @Html.TextBox("usuario")
        <label for="senha"></label>
    @Html.TextBox("senha")
    <input type="submit" name="btn" value="Enviar" />
</fieldset>
}

