﻿@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<nav>
    @Html.MvcSiteMap().Menu()
    @Html.MvcSiteMap().SiteMapPath()
</nav>

@section versao{
    <p>1.0</p>
    }
@section scripts{
    <script>
        alert('opa');
    </script>
    }