﻿@{
    ViewBag.Title = "Index";
}

<h2>View Mobile</h2>
<p>Teste abc</p>
<nav>
    @Html.MvcSiteMap().Menu()
    @Html.MvcSiteMap().SiteMapPath()
</nav>
<a class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" href="#">No text</a>
 <label for="flip-checkbox-1">Flip toggle switch checkbox:</label>

@Html.CheckBox("abc",  new {data_role="flipswitch" })

 @*   <input name="aaaa" id="flip-checkbox-1" type="checkbox" data-role="flipswitch">*@

    <label>
        <input name="radio-choice-0" id="radio-choice-0a" type="radio">One
    </label>
    <label for="radio-choice-0b">Two</label>
    <input name="radio-choice-0" class="custom" id="radio-choice-0b" type="radio">

@Html.TextBox("txt", null, new {@class="textoAzul" })
@Html.TextBox("txt1", null, new {@class="textoAzul" })
@Html.TextBox("txt2", null, new {@class="textoAzul" })
@section head{
    <script src="~/Scripts/jquery.mobile-1.4.5.min.js"></script>
    <link href="~/Content/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    }

