﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Teste abc</p>
<nav>
    @Html.MvcSiteMap().Menu()
    @Html.MvcSiteMap().SiteMapPath()
</nav>
@Html.TextBox("txt", null, new {@class="textoAzul" })
@Html.TextBox("txt1", null, new {@class="textoAzul" })
@Html.TextBox("txt2", null, new {@class="textoAzul" })