﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
        @RenderSection("head",false)

</head>
<body>
    <div id="banner" ></div>
    <div id="menu2" ></div>
    <div id="content" >
        @RenderBody()
    </div>
    <div id="footer" >
        @RenderSection("versao",false)
        @RenderSection("scripts",false)
    </div>
</body>
</html>
